@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil&display=swap');


.title{
  color: #282c34;
  padding-top: 20px;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Tiro Tamil', serif;
}
.skills-container{
  box-sizing: border-box;
  padding: 4rem;

}