@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');


.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Crimson Text', serif;

    .page-header-logo__name {
        font-weight: 600;
        color: #6f8686;
        text-shadow: 0 0 1px rgb(111 134 134 / 30%);
        vertical-align: middle;
        padding-right: 7px;
    }

    .page-header-logo__surname {
        font-weight: 600;
        color: #6f8686;
        vertical-align: middle;
    }
}

.page-menu__list {
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-right: 40px;
    float: right;
    width: 80%;
    justify-content: flex-end;
    margin-bottom:0;


}

.page-menu__item {
    padding: 33px 40px;
    a{
        color: #6f8686;
        text-decoration: none;
    }
    a:hover{
        color:lightskyblue;
    }
}

.page-menu__item:hover {
    background-color: #FFFFFF33;
    cursor: pointer;
}
